[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redies.aidevops.website
Environment=CATALOGUE_HOST=catalouge.aidevops.website
Environment=CATALOGUE_PORT=8080
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target